We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

An additional problem (not mandatory): In this case we can't assume that the population variances are equal. Hence in this case we cannot pool the variances. Independent random samples of 17 sophomores and 13 juniors attending a large university yield the following data on grade point averages. Data is provided in the file files_for_lab/student_gpa.txt. At the 5% significance level, do the data provide sufficient evidence to conclude that the mean GPAs of sophomores and juniors at the university differ?

Test statistics can be calculated as: link to the image - Test statistics calculation for Unpooled Variance Case

Degrees of freedom is (n1-1)+(n2-1).

In [16]:
import pandas as pd
import numpy as np
import codecs
f = codecs.open("machine.txt", "r", "utf-16")
df=pd.read_csv(f, sep = "\t")

In [3]:
df.head()

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5

In [19]:
df.columns = ['New_machine','Old_machine']

In [32]:
import math
import statistics
from math import sqrt
mean_new = statistics.mean(list(df['New_machine']))
std_new = np.std(list(df['New_machine']))
n_new = len(df['New_machine'])
mean_old = statistics.mean(list(df['Old_machine']))
std_new = np.std(list(df['New_machine']))
n_old = len(df['Old_machine'])

pooled_sample_std = math.sqrt(((n_new-1)*std_new**2 + (n_old-1)*std_old**2)/(n_new+n_old-2))
statistic = (mean_new-mean_old)/(pooled_sample_std*math.sqrt((1/n_new)+(1/n_old)))
print("T Statistic is: ", statistic)

T Statistic is:  -3.580995589464558

In [33]:
# Using python to find the p value and critical value

from scipy.stats import t

print("P value is: ", 1- t.cdf(statistic,n_new+n_old-2))
print("Critical Value of z is: ", t.ppf(0.05, n_new+n_old-2)) #alpha is 0.05

P value is:  0.9989322065983062
Critical Value of z is:  -1.734063606617536

T Statistic < Critical Value
-> Accept the null hypothesis: One machine is better than the other

In [35]:
df2=pd.read_csv("student_gpa.txt", sep = "\t")
df2.head()

   Sophomores    Juniors
0        3.04       2.56
1        1.71       2.77
2        3.30       2.70
3        2.88       3.00
4        2.11       2.98

In [46]:
df2.columns= ['Sophomores','Juniors']

Independent random samples of 17 sophomores and 13 juniors attending a large university yield the following data on grade point averages. Data is provided in the file files_for_lab/student_gpa.txt. At the 5% significance level, do the data provide sufficient evidence to conclude that the mean GPAs of sophomores and juniors at the university differ?

In [52]:
import math
import statistics
from math import sqrt
mean_1 = np.mean(df2['Sophomores'])
std_1 = np.std(df2['Sophomores'])
n_1 = len(df2['Sophomores'])
mean_2 = np.mean(df2['Juniors'])
std_2 = np.std(df2['Juniors'])
n_2 = len(df2['Juniors'])

statistic1 = (mean_1-mean_2)/(math.sqrt(((std_1**2)/n_1)+(std_2**2)/n_2))
print("T Statistic is: ", statistic1)

T Statistic is:  -0.9915851252441115

In [53]:
# Using python to find the p value and critical value

from scipy.stats import t

print("P value is: ", 1- t.cdf(statistic1,n_1+n_2-2))
print("Critical Value of z is: ", t.ppf(0.025, n_1+n_2-2)) #alpha is 0.05

P value is:  0.8355804580905997
Critical Value of z is:  -2.036933343460101

T Statistic > Critical Value --> We will reject the null hypothesis